.menu{
    background-color: #0074DC;
    width: 100%;
    height: 40px;

    display: flex;

    z-index: 10;

    position: relative;

    box-shadow: rgba(0, 0, 0, 0.297) 0 -2px 13px;
}

.menu .menuRight{
    list-style: none;

    display: flex;
    align-items: center;

    width: fit-content;
    height: 100%;

    margin-left: auto;

    border-left: rgba(255, 255, 255, 0.215) 1px solid;
    padding-left: 20px;
}

.menu .menuRight .itemRight{
    width: 30px;
    height: 30px;

    display: flex;

    margin: 15px;
}

.menu .menuRight .itemRight a{
    width: 100%;
    height: 100%;

    padding: 5px;
}

.menu .menuRight .itemRight a img{
    width: 100%;
    height: 100%;

    filter: invert(1);
}

.menu .menuLeft{
    width: fit-content;
    height: 100%;

    padding: 0 20px 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: auto;

    font-size: 25px;

    list-style: none;
}

.menu .menuLeft .itemLeft{
    text-align: center;

    width: fit-content;
    max-height: 39px;

    color: #fff;

    font-family:'Segoe UI', sans-serif;
    cursor: pointer;
    
}

@media only screen and (max-width: 600px) {

    .main{
        overflow: hidden;
        height: fit-content;

        position: relative;
    }

    .menu .menuRight .itemRight{
        margin: 4px;
    }

    .menu .menuLeft .itemLeft{
        margin-left: 40px;
        font-size: 23px;
    }

}