.menu{
    background-color: #0074DC;
    width: 100%;
    height: 40px;

    display: flex;

    z-index: 10;

    position: relative;
}

.menu .menuRight{
    list-style: none;

    display: flex;
    align-items: center;

    width: fit-content;
    height: 100%;

    margin-left: auto;

    border-left: rgba(255, 255, 255, 0.215) 1px solid;
    padding-left: 20px;
}

.menu .menuRight .itemRight{
    width: 30px;
    height: 30px;

    display: flex;

    margin: 15px;
}

.menu .menuRight .itemRight a{
    width: 100%;
    height: 100%;

    padding: 5px;
}

.menu .menuRight .itemRight a img{
    width: 100%;
    height: 100%;

    filter: invert(1);
}

.menu .menuLeft{
    width: fit-content;
    height: 100%;

    padding: 0 20px 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: auto;

    font-size: 25px;

    list-style: none;
}

.menu .menuLeft .itemLeft{
    text-align: center;

    width: fit-content;
    max-height: 39px;

    color: #fff;

    font-family:'Segoe UI', sans-serif;
    cursor: pointer;
    
}

/* /fim menu */


/* Começo main */


/* começo menu verical */

.menuVertical{
    width: 220px;
    min-width: 220px;
    height: 100%;

    background-color: rgb(90, 100, 111);

    position: relative;
    margin-right: auto;
}

.menuVertical .push{
    width: 60px;
    height: 60px;

    background:#393943;

    transform: rotate(-90deg);

    position: relative;

    backdrop-filter: blur(2px);

    border-radius: 50%;

    margin-left: auto;
    left: 25px;
    top: 35px;

    display: none;

    z-index: -10;

}

.menuVertical ul{
    list-style: none;
    width: 80%;
    height: calc(100vh- 40px);
}

.menuVertical ul li{
    margin: 20px 20px 0px 20px;
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;

    padding: 0px 0px 0px 5px;
}

.menuVertical ul li:hover{
    background-color: rgba(0, 0, 0, 0.235);
    border-radius: 30px;
}



.menuVertical ul li:last-of-type{
    display: none;
}

.menuVertical ul li a{
    color: rgb(228, 228, 228);
    text-decoration: none;

    width: 100%;
    height: 100%;

    position: relative;

    display: flex;
    align-items: center;

    font-family: Arial;
    font-size: 14px;
}

.menuVertical ul li a .imgMenu{
    width: 25px;
    height: 25px;

    margin-right: 15px;
}

.menuVertical ul li a img{
    width: 25px;
    height: 25px;

    filter: invert(0.8);
}



/* mural inicio */

.baseMural{
    
    background-color: #fff;
    width: calc(100% - 220px);  /*100% - 220px do menu vertical*/
    height: calc(100vh - 40px); /*100vh - 40px do menu top*/

    display: flex;
    align-items: center;
    justify-content: center;

}

// ::-webkit-scrollbar{display: none;}

.mural{
    /* border: #0074DC 1px solid; */

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.208);

    width: 100%;
    height: calc(95vh - 40px);

    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    margin: 20px;

    position: relative;
    overflow-y: scroll;
}

.mural .title{
    top: 0;

    margin: 0;

    width: 100%;
    height: fit-content;

    background-color: rgba(199, 193, 193, 0.153);

    position: relative;
}

.mural .title h1::first-line{
    font-family: Arial;
    font-size: 24px;


    color: #e42c5d;
}
.mural .title h1{
    font-family: Arial;

    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(208, 208, 208);


    line-height: 1.5;
}


.mural .card{

    margin: 15px;

    border-radius: 6px;

    width: 220px;
    height: 320px;

    box-shadow: 9px 20px 28px rgba(92, 92, 92, 0.18);

    padding: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    overflow: hidden;

    position: relative;
}


.mural .card h1{
    font-family:'Segoe UI';
    text-align: center;

    margin-bottom: 20px;

    font-size: 26px;
    color: rgb(31, 31, 31);
}

.mural .card p{
    text-align: center;

    margin: 5px;

    color: rgb(104, 104, 104);

    font-family: Arial;
    font-size: 15px;

    line-height: 1.5;
}

.mural .card button{

    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    height: 30px;
    width: 120px;

    padding-right: 30px;

    border: #0074DC 1px solid;
    background-color: #0074DC;

    color: #fff;

    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 15px;

    cursor: pointer;

    position: relative;
}

.mural .card button .btnDet{
    background-color: #fff;
    width: 35px;
    height: 100%;
    right: 0;

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mural .card button .btnDet img{
    filter: invert(1) sepia(1) hue-rotate(179deg) saturate(1000) brightness(0.8);
    width: 15px;
    height: 15px;

    position: relative;
}

@media only screen and (max-width: 600px) {

    .main{
        overflow: hidden;
        height: fit-content;

        position: relative;
    }

    .menu .menuRight .itemRight{
        margin: 4px;
    }

    .baseMural{
        width: 95%;
        margin: 0;
        height: fit-content;
    }

    .mural .title{
        margin: 0;
    }

    .mural{
        width: 100%;
        margin: 0;
        height: calc(95vh - 40px);

        overflow-y: scroll;
    }

    .menuVertical {
      min-width: 100%;
      max-width: 100%;

      height: 100vh;
      min-height: 100vh;

      margin: 0;

      top: 0;

      position: absolute;

      background-color: rgb(57, 57, 67);

      z-index: 30;
      
      right: 100%;
      transition: 2s;
    }

    .menuVertical .push{
        display: block;
        position: relative;
        z-index: 28;
    }

    .menuVertical ul{
        margin-left: 40px;
    }

    .menuVertical:hover{
        right: 5%;
        transition: 2s;
    }


    .menuVerticalV{ 
        display: block;
    }

    .menuVertical ul li:last-of-type{
        display: block;
    }
  }