.main{
    width: 100%;
    height: calc(100vh - 20px);

    display: flex;
    align-items: center;

    flex-direction: column;

    font-family: Lexend;

    padding: 30px;

    overflow-y: scroll;

    h1{
        color: rgb(28, 28, 28);
    }
    
    .names{

        width: fit-content;
        height: fit-content;

        display: flex;
        align-items: center;
        justify-content: center;
    
        flex-wrap: wrap;

        line-height: 1.5;


        .femMas{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            width: 200px;
            height: 120px;

            text-align: center;

            font-family: Lexend;

            border: 1px solid rgb(152, 152, 152);

            margin: 20px;

            padding: 20px;
        }


        .dialogoP{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            width: clamp(250px, 100%, 460px);
            
            font-family: Lexend;

            border: 1px solid rgb(0, 255, 98);

            margin: 20px;

            padding: 20px;
        }

        .dialogoR{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            width: clamp(250px, 100%, 460px);
            
            font-family: Lexend;

            border: 1px solid rgb(170, 0, 255);

            margin: 20px;

            padding: 20px;
        }

        

        h2{
            font-size: 20px;
        }
        h3{
            font-size: 15px;
            color: rgb(162, 162, 162);
        }
    }
}